html {
	scroll-padding-block: 2.9rem;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Plus Jakarta Sans", sans-serif;
	color: var(--black);
	background-color: var(--white);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

[v-cloak] {
    display: none;
}

a {
	text-decoration: none;
	color: var(--black);
}

h1 {
	font-size: 5rem;
	font-weight: 800;

	@media screen and (min-width: 1200px) {
		font-size: 7rem;
	}
}

h2 {
	font-size: 4rem;
	font-weight: 800;

	@media screen and (min-width: 1200px) {
		font-size: 5rem;
	}
}

h3 {
	font-family: "Quantico", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -0.2rem;

	@media screen and (min-width: 1200px) {
		font-size: 3rem;
	}
}

h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

h5 {
	font-weight: 800;
}

p {
	font-size: 1.5rem;
	letter-spacing: -0.3px;

	@media screen and (min-width: 1200px) {
		font-size: 2rem;
	}
}

.block {
	display: block;
}

.bold {
	font-weight: 800;
}

.semi-bold {
	font-weight: 700;
}