html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Plus Jakarta Sans", sans-serif;
	color: var(--black);
	background-color: var(--white);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

[v-cloak] {
    display: none;
}

a {
	text-decoration: none;
	color: var(--black);
}

main {
    width: 100%;
    margin-top: 82px;
}

.logo {
	font-family: "Quantico", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -0.2rem;
	color: var(--primary);
}

.medias {
	@include setFlex(row, space-between, center);
	font-size: 2rem;
	width: 9rem;
}

h1 {
	font-size: 5.5rem;
	font-weight: 800;

	@media screen and (min-width: 1200px) {
		font-size: 7rem;
	}
}

h2 {
	font-size: 4rem;
	font-weight: 800;

	@media screen and (min-width: 1200px) {
		font-size: 5rem;
	}
}

h3 {
	font-family: "Quantico", sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: -0.2rem;
}

h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

.bold {
	font-weight: 800;
}

.btn {
	display: block;
	width: fit-content;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: $border-radius;
	background-color: var(--primary);
}