.btn {
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: $border-radius;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: var(--primary-hover);
    }
}

.btn-icon {
    @include setFlex(row, center, center);

    i {
        font-size: 1.5rem;
    }
}