.btn {
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: $border-radius;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: var(--primary-hover);
    }
}

.btn-icon {
    @include setFlex(row, center, center);

    i {
        font-size: 1.5rem;
    }
}

.btn-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 997;
    background-color: var(--primary);
    box-shadow: 1px 1px 10px var(--black);
    border-radius: $border-radius;

    a {
        i {
            font-size: 3rem;
            color: var(--light-gray);
        }
    }
}