form {
    @include setFlex(column, center, center);
    margin-top: 1rem;
    width: 100%;
    
    .inputs {
        @include setFlex(column, center, center);
        width: 100%;

        input {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        input[type=text], input[type=email], input[type=password], select, textarea, .image-file {
            padding: 1rem 2rem;
            border-radius: $border-radius;
            border: 2px solid var(--black);
            background-color: transparent;
            color: var(--black);
            font-family: "Plus Jakarta Sans", sans-serif;

            &::placeholder {
                color: var(--light-black);
                font-size: 1rem;
            }

            &:focus {
                outline: none;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          -webkit-text-fill-color: var(--light-black);
          -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          transition: background-color 5000s ease-in-out 0s;
          font-size: 1rem;
        }

        .checkbox {
            @include setFlex(column, center, center);
            flex-wrap: wrap;
            width: 100%;
            height: 200px;
            margin-bottom: 0.5rem;

            .checkbox-label {

                input {
                    margin: 0;
                }

                p {
                    font-size: 0.9rem;
                }

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
            }
        }

        select, textarea, .image-file {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        option:checked { 
            display: none;
        }
    }
}

input[type=submit], button[type=submit] {
    padding: 1rem 2rem;
    border: none;
    border-radius: $border-radius;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    font-family: "Plus Jakarta Sans", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--black-hover);
    }
}

button[type=submit] {
    background-color: var(--error);

    &:hover {
        background-color: var(--error-hover);
    }
}

.add {
    margin-top: 1rem;
}