header {
    @include setFlex(row, space-between, center);
    background-color: var(--black);
    min-height: 56px;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--black);
    position: sticky;

    nav {
        ul{
            display: none;
        }

        .menu-burger {
            font-size: 3rem;
            color: var(--primary);
        }
    }
}