header {
    @include setFlex(row, space-between, center);
    background-color: var(--black);
    min-height: 56px;
    padding: 1rem;

    nav {
        ul{
            display: none;
        }

        i {
            font-size: 3rem;
            color: var(--primary);
        }
    }
}