::-webkit-scrollbar {
    background-color: var(--black);
}

::-webkit-scrollbar-button {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-black);
}