.user-interaction {
    @include setFlex(row, center, center);
    padding: 1rem;
    border-radius: $border-radius;
    text-align: center;

    .info-txt {
        font-size: 1rem;
    }
}

.error {
    background-color: var(--error);
    color: var(--white);
}

.success {
    background-color: var(--success);
}