:root {
    --primary:#F9D43E;
    --primary-hover:#e4c138;
    --white:#ECECEC;
    --black:#202020;
    --black-opacity:#202020b0;
    --black-hover:#131313;
    --light-black:#404040;
    --dark-gray:#a5a5a5;
    --gray:#DCDCDC;
    --error: #F21628;
    --success: #22C52D;
}

$border-radius: 0.5rem;
$padding-section: 6rem;
$max-width: 1200px;
$gap: 2rem;