.add-form, .edit-form {
    @include setFlex(column, center, center);
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-opacity);
    z-index: 998;
    
    .content-form {
        @include setFlex(column, center, center);
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        max-width: 600px;
        background-color: var(--white);
        border-radius: $border-radius;

        .close-form {
            @include setFlex(row, space-between, center);

            h3 {
                font-size: 1.5rem;
                text-align: start
            }

            a {
                font-size: 2rem;
            }
        }
        
        & div {
            @include setFlex(column, center, center);
            width: 100%;

            form {
                input {
                    width: 100%;
                }
            }
        }
    }
}