.admin-header {
    background-color: var(--dark-gray);

    .logo {
        color: var(--black);
    }

    nav {
        ul {
            li {
                a {
                    color: var(--black);
                }
            }
        }
    }

    .burger {
        color: var(--black);
    }

    .active {
        color: var(--gray);
        pointer-events: none;

        &:hover {
            border-bottom: none;
        }
    }
}