.admin-header {
    background-color: var(--dark-gray);

    .logo {
        color: var(--black);
    }

    nav {
        ul {
            li {
                a {
                    color: var(--black);
                }
            }
        }

        .index-icon, .logout-icon {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            @include setFlex(row, center, center);

            .index-icon, .logout-icon {
                display: block;
            }
        }
    }

    .burger {
        color: var(--black);
    }

    .active {
        color: var(--gray);
        pointer-events: none;

        &:hover {
            border-bottom: none;
        }
    }
}