.panel-admin {
    background-color: var(--dark-gray);

    div {
        a {
            @include setFlex(row, flex-start, center);
            text-decoration: underline;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }

    .active {
        color: var(--gray);
        pointer-events: none;

        &:hover {
            border-bottom: none;
        }
    }
}