.admin-main {
    @include setFlex(column, flex-start, center);
    padding: 1rem;

    .tab {
        @include setFlex(column, center, center);
        width: 100%;
        max-width: 600px;

        & div {
            @include setFlex(column, center, center);
            text-align: center;

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
        

        .list {
            width: 100%;
            margin: 1rem 0;

            .list-item {
                @include setFlex(row, space-between, center);
                padding: 1rem;
                background-color: var(--gray);
                border-radius: $border-radius;

                p {
                    font-size: 1.5rem;
                }

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                .edit {
                    font-size: 1.5rem;
                }
            }
        }
    }
}