.admin-main {
    @include setFlex(column, flex-start, center);
    min-height: 89vh;
    padding: 1rem;

    @media screen and (min-width: 1200px) {
        @include setFlex(column, center, flex-start);
        width: auto;
        margin-top: 0;
        margin-left: 300px;
    }

    .tab {
        @include setFlex(column, center, center);
        
        & h2 {
            font-size: 2rem;
        }

        .list {
            margin: 2rem 0;

            .list-item {
                @include setFlex(row, space-between, center);
                padding: 1rem;
                background-color: var(--gray);
                border-radius: $border-radius;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                .edit {
                    font-size: 1.5rem;
                }
            }
        }
    }
}