header {
    @include setFlex(row, space-between, center);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
    min-height: 56px;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--black);
    z-index: 999;

    nav {
        ul{
            display: none;

            li {
                a {
                    color: var(--primary);
                    font-weight: 600;

                    &:hover {
                        border-bottom: solid 2px var(--primary);
                    }
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
            
            @media screen and (min-width: 1200px) {
                display: list-item;
                @include setFlex(row, center, center);
                font-size: 1.5rem;
            }
        }

        .menu-burger {
            font-size: 3rem;
            color: var(--primary);

            @media screen and (min-width: 1200px) {
                display: none;
            }
        }
    }
}