header {
    @include setFlex(row, center, center);
    background-color: var(--black);
    padding: 1rem;

    & div {
        @include setFlex(row, space-between, center);
        width: 100%;
        max-width: $max-width;

        // Nav desktop
        nav {
            display: none;

            @media screen and (min-width: 1200px) {
                display: block;
            }

            ul {
                @include setFlex(row, space-between, center);

                li {
                    a {
                        color: var(--primary);
                        font-size: 1.5rem;
                        font-weight: 600;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    &:not(:last-child) {
                        margin-right: 3rem;
                    }
                }
            }
        }
        
        // Icone menu mobile
        .burger {
            @include setFlex(column, center, center);
            width: fit-content;
            font-size: 3rem;
            color: var(--primary);
    
            @media screen and (min-width: 1200px) {
                display: none;
            }
        }

    }
}