.hero {
    @include setFlex(column, center, center);
    padding: 1rem;
    min-height: 80vh;
    text-align: center;
    background-color: var(--white);
    
    .txt {
        @include setFlex(column, center, center);
        max-width: 460px;
        height: 100%;

        p {
            margin: 1rem 0;
        }
    }

    img {
        display: none;
    }

    // Version desktop
    @media screen and (min-width: 1200px) {
        @include setFlex(row, center, center);
        text-align: start;
        
        & div {
            @include setFlex(row, space-between, center);
            max-width: $max-width;

            .txt {
                @include setFlex(column, center, flex-start);
                width: 100%;
                max-width: 650px;
            }
    
            img {
                display: block;
                height: 700px;
            }
        }

    }
}