.history {
    @include setFlex(column, center, center);
    width: 100%;
    padding: 4rem 1rem;
    
    div {
        @include setFlex(column, center, center);
        width: 100%;
        max-width: $max-width;
        
        div {
            text-align: center;

            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: $border-radius;
            }

            p {
                margin-top: 1rem;
                max-width: 500px;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            // Version 1024px
            @media screen and (min-width: 1024px) {
                @include setFlex(row, center, center);
                text-align: start;

                p {
                    margin-top: 0;
                    margin-left: 1rem;
                }
            }

            // Version 1200px
            @media screen and (min-width: 1200px) {
                img {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}