.menu {
    @include setFlex(column, center, center);
    text-align: center;
    color: var(--white);
    background-color: var(--black);

    .category {
        @include setFlex(column, center, center);
        padding: 3rem 1rem;
        width: 100%;

        & h3 {
            margin-bottom: 3rem;
        }

        .items {
            display: grid;
            justify-content: space-between;
            align-items: flex-start;
            grid-template-columns: 1fr;
            width: 100%;
            gap: 2rem;

            @media screen and (min-width: 680px) {
                grid-template-columns: repeat(2, 1fr);
                width: fit-content;
            }

            @media screen and (min-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
                max-width: $max-width;
                width: 100%;
            }

            .item {
                @include setFlex(column, space-between, center);
                width: 100%;
                margin: 0 auto;

                & img {
                    width: 100%;
                    height: 300px;
                    border-radius: $border-radius;
                    object-fit: cover;
                }

                .pills {
                    @include setFlex(row, space-between, flex-start);
                    width: 100%;
                    margin: 1rem 0;

                    .tags {
                        @include setFlex(row, center, center); 
                    }

                    p {
                        font-size: 1rem;
                        padding: 0.5rem 1rem;
                        border-radius: $border-radius;
                        color: var(--black);
                        background-color: var(--primary);

                        &:not(:last-of-type) {
                            margin-right: 0.5rem;
                        }
                    }
                }

                h4 {
                    @media screen and (min-width: 680px) {
                        margin-bottom: 1rem;
                    }
                }

                .description {
                    display: none;

                    @media screen and (min-width: 680px) {
                        display: block;
                        max-width: 300px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.category:nth-of-type(2n) {
    background-color: var(--white);
    color: var(--black);
}