.panel {
    display: none;
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    height: 89vh;
    padding: 4rem 1rem;
    background-color: var(--white);
    z-index: 1000;

    ul {
        li{
            font-size: 2rem;
            font-weight: 600;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }

    .link-panel {
        margin-top: 1rem;
    }
}

.link-panel {
	text-decoration: underline;

	address {
		margin-bottom: 0.8rem;
		span {
			&:not(:last-child) {
				margin-bottom: 0.2rem;
			}
		}
	}
}

.open {
    @include setFlex(column, space-between, flex-start);
}