.login {
    @include setFlex(column, center, center);
    background-color: var(--gray);
    height: 100vh;
    margin: 0;
    padding: $padding-section 1rem;

    div {
        width: 100%;
        max-width: 600px;

        header {
            @include setFlex(column, center, center);
            margin-bottom: 1rem;

            .login-logo {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }

    .retour {
        @include setFlex(column, center, center);
        margin-top: 1rem;

        a {
            text-decoration: underline;
        }
    }

}